<footer class="footer">
    <div class="container hidden-print">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           {{ partial "bloc/footer/nav" . }}
        </div>
        <div class="copyright">
          <small>
              {{ partial "bloc/footer/credits" . }}
          </small>
        </div>
     </div>
    </div>
<!-- Cthulhu, I'm doing this for you, eat me last so I too may devour the flesh of my enemies! -->
<div class='foot'>
		&lt;/fear&gt;
	</div>
</footer>

